* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #959596;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: white;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 380px;
    text-align: center;
}

.box h2 {
    color: #707374;
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #7a7878;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}


.password-container {
    position: relative;
    width: 100%;
}

.password-container  {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #828080;
    font-size: 16px;
}

.password-container :hover {
    color: #78787a;
}

button {
    background-color: #858689;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #a5a6a7;
}

button:active {
    transform: scale(0.98);
}